*{margin: 0;padding: 0;}
body{background-image: url(bg.jpg);background-size: cover;max-width: 100vw;height: 100vh;}
h4{text-align: center;font-family: 'Kalpurush', sans-serif;padding-top: 10px;width: 100%;height: 35px;display: block;margin: 0 auto;
background: rgba(254,251,0,0.2);color: #FCD500;border-radius: 20px;box-shadow: 4px 2px 4px #333232;animation: shake 5s linear infinite;
  }
 @keyframes shake{2%{transform:translate(1.5px, 1.5px) rotate(1.5deg)}4%{transform:translate(.5px, -.5px) rotate(.5deg)}6%{transform:translate(1.5px, 2.5px) rotate(1.5deg)}8%{transform:translate(.5px, 2.5px) rotate(.5deg)}10%{transform:translate(2.5px, 1.5px) rotate(.5deg)}12%{transform:translate(-.5px, -1.5px) rotate(-.5deg)}14%{transform:translate(1.5px, 2.5px) rotate(-.5deg)}16%{transform:translate(2.5px, -1.5px) rotate(1.5deg)}18%{transform:translate(2.5px, 2.5px) rotate(-.5deg)}20%{transform:translate(-.5px, -1.5px) rotate(1.5deg)}22%{transform:translate(-1.5px, -.5px) rotate(.5deg)}24%{transform:translate(2.5px, -1.5px) rotate(1.5deg)}26%{transform:translate(.5px, 2.5px) rotate(1.5deg)}28%{transform:translate(-.5px, 2.5px) rotate(-.5deg)}30%{transform:translate(.5px, 2.5px) rotate(1.5deg)}32%{transform:translate(-1.5px, -.5px) rotate(-.5deg)}34%{transform:translate(.5px, -.5px) rotate(.5deg)}36%{transform:translate(-1.5px, .5px) rotate(1.5deg)}38%{transform:translate(-1.5px, 1.5px) rotate(1.5deg)}40%{transform:translate(2.5px, .5px) rotate(.5deg)}42%{transform:translate(.5px, .5px) rotate(1.5deg)}44%{transform:translate(-.5px, .5px) rotate(.5deg)}46%{transform:translate(2.5px, 1.5px) rotate(1.5deg)}48%{transform:translate(2.5px, 1.5px) rotate(-.5deg)}50%{transform:translate(-1.5px, 2.5px) rotate(-.5deg)}52%{transform:translate(.5px, -1.5px) rotate(1.5deg)}54%{transform:translate(.5px, -1.5px) rotate(.5deg)}56%{transform:translate(1.5px, -1.5px) rotate(-.5deg)}58%{transform:translate(1.5px, .5px) rotate(.5deg)}60%{transform:translate(-.5px, .5px) rotate(.5deg)}62%{transform:translate(.5px, .5px) rotate(-.5deg)}64%{transform:translate(-1.5px, -.5px) rotate(1.5deg)}66%{transform:translate(-1.5px, 2.5px) rotate(-.5deg)}68%{transform:translate(-1.5px, 1.5px) rotate(.5deg)}70%{transform:translate(.5px, 1.5px) rotate(.5deg)}72%{transform:translate(-1.5px, 2.5px) rotate(.5deg)}74%{transform:translate(2.5px, .5px) rotate(-.5deg)}76%{transform:translate(.5px, -1.5px) rotate(1.5deg)}78%{transform:translate(.5px, 1.5px) rotate(.5deg)}80%{transform:translate(-.5px, -.5px) rotate(.5deg)}82%{transform:translate(1.5px, 1.5px) rotate(1.5deg)}84%{transform:translate(.5px, .5px) rotate(.5deg)}86%{transform:translate(-.5px, .5px) rotate(1.5deg)}88%{transform:translate(1.5px, .5px) rotate(1.5deg)}90%{transform:translate(-.5px, 2.5px) rotate(-.5deg)}92%{transform:translate(-1.5px, -1.5px) rotate(1.5deg)}94%{transform:translate(-1.5px, 2.5px) rotate(1.5deg)}96%{transform:translate(-1.5px, -1.5px) rotate(1.5deg)}98%{transform:translate(1.5px, -1.5px) rotate(1.5deg)}0%,100%{transform:translate(0, 0)rotate(0)}}
#swas{display: block;margin: 0 auto;width: 67px;height: 139px;margin-top: 15px;background: rgba(254,251,0,0.2);padding: 5px 20px;
border-radius: 20px;box-shadow: 4px 2px 11px white;animation: lig 5s linear infinite;animation-direction: alternate}
@keyframes lig{
    0%{box-shadow: 0px 4px 11px white}
    50%{box-shadow: 4px 2px 11px white}
    100%{box-shadow: 84px 10px -5px white}
}
.contain{display: flex; max-width: 1000px;height: 200px;flex-direction: row;justify-content: space-between;margin: 0 auto}
#patra{width:130px;height: 180px;border-radius: 0px 90px 90px 20px;background: rgba(1,45,255,0.6);outline: none;text-align: center;
border: none;font-size: 30px;font-weight: bold;color:white;animation: heartBeat 5s linear infinite;font-family: 'Kalpurush', sans-serif}
@keyframes heartBeat{0%{-webkit-transform:scale(1);transform:scale(1)}14%{-webkit-transform:scale(1.3);transform:scale(1.3)}28%{-webkit-transform:scale(1);transform:scale(1)}42%{-webkit-transform:scale(1.3);transform:scale(1.3)}70%{-webkit-transform:scale(1);transform:scale(1)}}
#patri{width:130px;height: 180px;border-radius: 90px 0px 20px 90px;background: rgba(251,0,201,0.3);animation: heartBeat 5s linear infinite;
    outline: none;text-align: center;align-items: bottom;border: none;font-size: 30px;font-weight: bold;color:white;font-family: 'Kalpurush', sans-serif}

    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-image: url(by.gif);outline: none; }
    .img-upper{background: white;width: 110px;height: 110px;border-radius: 50%;padding: 5px;transform: translate(90px,60px)
    }
    .img-upper img{width: 110px;height: 110px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #1A4AFE}
    .lower p{font-size: 16px;color: gray;margin-top: 20px;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-image: url(gl.gif);outline: none; }
    .img-upper1{background: white;width: 110px;height: 110px;border-radius: 50%;padding: 5px;transform: translate(90px,60px)
    }
    .img-upper1 img{width: 110px;height: 110px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264}
    .lower1 p{font-size: 16px;color: gray;margin-top: 20px;}
    .proja{text-align: center;font-size: 28px;font-weight: bold;font-family: 'Kalpurush', sans-serif;color: #FCD500}
    h2{text-align: center;color: #FCD500;margin-top: 15px;margin-bottom: 20px;background: rgba(254,251,0,0.2);font-size: 28px}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;border: 2px solid #FCD500;
     color: white;border-radius: 16px;line-height: 32px;font-family: 'Kalpurush', sans-serif;width: 180px;height: 28px;margin: 0 auto;}
    .nai{text-align: center;color: #FCD500;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: #FCD500;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;margin-top: 7px;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 15px auto;border: 2px solid #FCD500;border-radius: 23px;line-height: 35px; }
    .eg{text-align: center;color:#FCD500;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;margin-bottom: 5px;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 0 auto;border: 2px solid #FCD500;border-radius: 23px;line-height: 28px;border-radius: 23px;}
    .cu{text-align: center;color:#FCD500;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;}    
    #fontcss{margin-left: 10px;margin-bottom: 20px;color: #FCD500;font-family: 'Kalpurush', sans-serif;font-size: 22px;background: rgba(254,251,0,0.2);
    vertical-align: left;width: 170px;padding: 7px;border-radius: 15px;margin-top: 15px}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #FCD500;font-size: 22px;background: rgba(254,251,0,0.2);border-radius: 23px;padding: 7px;animation: shak 2s infinite;
  animation-direction: alternate;}
  
@keyframes shak {
  0% {
    transform: skewY(1deg);
  }
  100% {
    transform: skewY(-1deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;animation: jum 2s linear infinite;position: relative}
    @keyframes jum{
        0%{bottom: 2px}
        25%{top: 4px;}
        50%{top: 5px;}
        75%{top: 4px;}
        10%{top: 2px;}
    }
    .nibe{text-align: right;margin-right: 10px;color: #FCD500;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%;
    background: rgba(254,251,0,0.2);border-radius: 23px;padding: 7px;width: 170px;height: 120px}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }
  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
    a button{width: 100px;height: 28px;background:  #01B942;border: none;letter-spacing: 1.5px;font-size: 15px;border-radius: 16px;font-weight: bold;}